.DS_Store
section07/vuerouter/node_modules
section08/bookapp/node_modules/
section08/bookapp/node_modules/.bin/esparse
section09/vuex/node_modules/
section10/vue3-test/node_modules/
section11/script_setup_test/node_modules/*
